@import "reset.scss";
@import "themes/dark.scss";
@import "themes/light.scss";
@import "variables/global.scss";

.app {
  font: var(--font-m);

  background-color: var(--background-color);
  color: var(--primary-color);

  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}