.app.dark {
  --background-color: #1d2834;
  --inverted-bg-color: #0b1013;
  --secondary-bg-color: #0a1b1e;
  --primary-color: #fff;
  --secondary-color: #a8a8a8;
  --button-main-bg: #3f87c4;
  --button-border-color: #283573;
}
