.app.light {
  --background-color: #afd0cb;
  --inverted-bg-color: #1e6252;
  --secondary-bg-color: #68a486;
  --primary-color: #1b1c1f;
  --secondary-color: #fff;
  --button-main-bg: #dcfffb;
  --button-border-color: #7490ea;
}
