.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 5px 20px;
}

.link {
  margin-right: 20px;
}

.switcher {
  margin-left: 15px;
}